@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.note {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  background-color: lightcoral;
  color: #f5f5f5;
  width: 100%;
}

button,
.btn {
  border: 0;
  outline: 0;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  color: #f5f5f5;
  background-color: steelblue !important;
  border-radius: 5px;
}
